<!DOCTYPE html>
<html>
<head>
  <title>Aggregate</title>
  <%= stylesheet_link_tag    "aggregate/application", :media => "all" %>
  <%= javascript_include_tag "aggregate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
